---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Home">
  <section class="flex min-h-screen flex-col items-center justify-center">
    <h1
      class="to-orange from-accent bg-gradient-to-r bg-clip-text fill-none text-9xl font-bold text-transparent"
    >
      Welcome!
    </h1>

    <a href="/001" class="text-accent mt-8 px-4 py-2 text-4xl underline">
      Let's get started!
    </a>
  </section>
</BaseLayout>
